== In mouse emulation mode ==
First Hand:
 • Move mouse cursor
 • Push open overlay menu

Second Hand:
 • Push in low or middle position ⇒ Left mouse button click
 • Push in high position ⇒ Right mouse button down. Next Push mouse release button.
 • Hold hand steady and swipe right ⇒  Show unit navigation menu.

== In menu mode ==
First Hand:
	• Select Entry
	• Push close Overlay
	• City menu: Rotate Hand clockwise or counterclockwise to switch to next or previous city

Second Hand:
	• Push select Entry
